#doc_attach_div {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
}
.switch-toggle {
    width: 10em;
}
.switch-toggle label:not(.disabled) {
    cursor: pointer;
}
.panel-green {
    border-color: #5cb85c;
}
.panel-yellow {
    border-color: #f0ad4e;
}
.panel-red {
    border-color: #d9534f;
}
.panel-purpal {
    border-color: #e600e6;
}
.panel-greenyellow {
    border-color: #cccc00;
}
.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: white;
    background-color: #5cb85c;
}
.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: white;
    background-color: #f0ad4e;
}
.panel-red > .panel-heading {
    border-color: #d9534f;
    color: white;
    background-color: #d9534f;
}
.panel-purpal > .panel-heading {
    border-color: #e600e6;
    color: white;
    background-color: #e600e6;
}
.panel-greenyellow > .panel-heading {
    border-color: #cccc00;
    color: white;
    background-color: #cccc00;
}
.panel-green > a {
    color: #5cb85c;
}
.panel-yellow > a {
    color: #f0ad4e;
}
.panel-red > a {
    color: #d9534f;
}
.panel-purpal > a {
    color: #e600e6;
}
.panel-greenyellow > a {
    color: #cccc00;
}
.boxshad {
    box-shadow: 4px 4px 4px grey;
}
.makeItBold {
    font-weight: bold;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
